.App {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.scr {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.scr::-webkit-scrollbar {
  display: none;
}
